<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
      <input  matInput
              placeholder="CPF"
              [name]="controlName"
              [formControlName]="controlName">
              <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">
                Campo Obrigatório
              </mat-error>
      <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'minlength')">
        Campo precisa ter no mínimo 9 caracteres
      </mat-error>
      <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'maxlength')">
        Campo precisa ter no máximo 11 caracteres
      </mat-error>
    </mat-form-field>
  </div>
  
